


<div class="header-wrap">
    <div class="search-bar">
        <span class="search-icon"><img src="assets/images/search-icon.svg" alt="search"></span>
        <input type="text" placeholder="Search here" class="form-control">
    </div>
    <div class="header-right">
        <ul class="preferences">
            <li>CDN <img src="assets/images/info-icon.svg" alt="info-icon"></li>
            <li>LNH <img src="assets/images/info-icon.svg" alt="info-icon"></li>
        </ul>
        <ul class="profile-details">
            <li><img src="assets/images/notification.svg" alt="notification"></li>
            <li><img src="assets/images/export.svg" alt="export"></li>
            <li class="profile-wrapper">
                <span class="profile-img"><img src="assets/images/profile-img.png" alt="profile"></span>
                <div class="about-profile">
                    <span class="profile-name">alex paul</span>
                    <span class="profile-designation">project manager</span>
                </div>
            </li>
        </ul>
    </div>
</div>
 