$gotham-book:'Gotham Book';
$gotham-medium:'Gotham';
$base-font:1.6rem;
$font-md:2rem;
$font-lg:3rem;
$color-white:#fff;
$color-black:#000;
$menu-bg: #E6F2FF;
$hover-text:#0050A0;
$bg-color:#f8f8fa;
$input-color:#C3CAE8;
$color-pink:#F0508C;
$color-grey: #8c8ea6;
$color-grey-border: #F4F4F4;
$color-bg-grey:#fafbff;
$color-grey-light:#d8d8d8;
$grey-bg:#F9FAFC;
$color-silver:#f5f5f5;
$color-skyblue:#15BFD3;
$color-red:#ED1929;
$color-red-secondary:#E10D16;
$color-light-green:#04E474;
$color-yellow:#FFC400;
$color-yellow-dark:#f0b032;
$color-orange:#FC6404;
$color-green:#24CCB8;
$color-blue-light-bg:#F7F8FD;
$color-blue-fade:#B5BCD9;
$color-blue-extra-light:#E5EDF5;
$color-navy-blue:#73bdf0;
$color-geraldine:#de6e6d;
$color-manatee:#85868c;
$color-tan:#c8ad8c;